/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Plus Jakarta Sans", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

@import './scss/global';
